body  {
    background-color: #DDD;
    margin: 0;
    padding: 0;
    color: coral;
    align-items: center;
}

#main {
    padding: 10px;
    background-color: rgb(221, 184, 19, 0.8);
    color: aqua;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#acerca {
    padding: 10px;
    background-color: rgba(17, 177, 218, 0.8);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}